weights/
weights2/
checkpoints/
**/__pycache__
saved/*
logs/*
saved_dataset/*
saved_models/*/*
training_pipeline/
scripts/
config/
output/
.env
cuda_11.2.0_460.27.04_linux.run
cuda_11.2.0_460.27.04_linux.run.1
cuda-keyring_1.0-1_all.deb
cache
tempauth
src/memray-axis_SSD.py.65.bin
src/memray-axis_SSD.py.74.bin
src/memray-axis_SSD.py.97.bin
src/memray-axis_SSD.py.207.bin
src/memray-axis_SSD.py.246.bin
src/memray-axis_SSD.py.438.bin
src/memray-axis_SSD.py.791.bin
src/memray-axis_SSD.py.1298.bin
src/memray-axis_SSD.py.9900.bin
src/memray-axis_SSD.py.20370.bin
src/memray-axis_SSD.py.285219.bin
src/memray-flamegraph-axis_SSD.py.207.html
src/memray-flamegraph-axis_SSD.py.1298.html
src/memray-flamegraph-axis_SSD.py.9900.html
src/memray-table-axis_SSD.py.285219.html
output.bin
profile.txt
!saved_models/baseline_coco/cfg.yaml
!saved_models/baseline_coco_10000/cfg.yaml
!saved_models/baseline_synth/cfg.yaml
latex/*
src/ATL_training_pipeline.egg-info/*
saved.zip
